<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .custom-btn {
        background-color: #d6a99d;
        border-color: #d6a99d;
        color: #000;
      }

      .custom-btn:hover {
        background-color: #fbf3d5;
        border-color: #fbf3d5;
        color: #000;
      }
    </style>
  </head>
  <body>
    <h1>Welkam to the contacttt page!</h1>
    <a href="/" class="btn btn-primary custom-btn">Go to home page</a>
  </body>
</html>
